[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/foundry-starter-kit"]
	path = lib/foundry-starter-kit
	url = https://github.com/smartcontractkit/foundry-starter-kit
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/bagholder"]
	path = lib/bagholder
	url = https://github.com/zeframlou/bagholder
